header {
    z-index: 10;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.logo {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 0 20% 6% 20%;
    margin-top: 100px;
    /*4background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 13%, rgba(255,255,255,0.24271715522146353) 48%, rgba(0,0,0,0) 91%); */
    filter: drop-shadow(6px 5px 0px #ffffff);
    /* drop-shadow(-6px -2px 3px #ffffff);*/

}

h1 {
    color: rgb(193, 253, 255);
    margin: 0;
}

section {
    z-index: 10;
    position: relative;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: rgb(140, 220, 223);
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
    font-family: 'IBM Plex Mono', monospace;
}

.homepage-content {
    overflow: hidden;
    height: auto;
    z-index: 10;
    position: relative;
    background-color: rgba(95, 95, 95, 0.3);
    color: #fff;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

.homepage-blur {
    backdrop-filter: blur(5px);
}

.main>.p{
    margin-bottom: 1em;
    color: #fff;
    z-index: 10;
    text-shadow:
        0.04em 0 black,
        0 0.04em black,
        -0.04em 0 black,
        0 -0.04em black;
    display: block;

}

.homepage li {
    text-align: left;
}

.hero {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    /*padding: 100px 20px 50px 20px;*/
    z-index: 10;
    position: relative;
    min-height: 100vh;
}

.hero .h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero ul {
    text-align: center;
}

.p {
    font-size: 1.2em;
    margin-bottom: 30px !important;
    display: block;
}

#signupButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f56607;
    color: #2d2d2d;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: none;
}

#signupButton:hover {
    background-color: #c14d00;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    text-align: right;
    padding-right: 20px;
    width: 90%;
}

.desc-container {
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.desc {
    width: 60%;
    border-radius: 30px;
    margin-bottom: 40px;
    overflow: hidden;
}

.left {
    float: left;
    padding: 0 40px 0 50px;
    left: -30px;
    position: relative;
    background: linear-gradient(to right, rgb(255,255,255,0.7), rgb(255,255,255,0.4));
    filter: drop-shadow(2px 1px 5px #000);
}

.left p {
    color: #2d2d2d;
}

.right {
    float: right;
    text-align: right;
    padding: 0 50px 0 40px;
    right: -30px;
    position: relative;
    background: linear-gradient(to left, rgb(255,255,255,0.6), rgb(255,255,255,0.4));
    filter: drop-shadow(-2px 1px 5px #000);

}

.right p {
    color: #2d2d2d;
}

#start {
    width: 40%;
    text-align: center;
}

.rotated-block-left {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 150%;
    /*background: linear-gradient(to left, rgb(95, 95, 95, 0.7), rgba(55, 55, 55));*/
    background: linear-gradient(to left, rgba(58, 58, 58, 0.6), rgba(22, 22, 22, 0.7));
    filter: drop-shadow(6px -6px 15px #000);
    transform: rotate(-20deg);
    left: -40%;
    top: -7%;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.desc-side-container {
    overflow: hidden;
    position: relative;
    z-index: 10;
    padding: 30px 0 30px 0;
    text-shadow: none ;
    color: #2d2d2d;
}

.rotated-block-desc {
    position: absolute;
    z-index: 1;
    width: 1000px;
    background-color: rgba(176, 189, 225, 0.22);
    transform: rotate(-70deg);
    height: 1000px;
    display: none;
}

.block-left {
    top: -200px;
    right: -300px;
}

.block-right {
    top: -400px;
    left: -500px;
}